@charset "UTF-8";

.l1 {
   position: static;
   color: rgb(255, 255, 255);
   background-color: black;
   width: 75%;
   height: auto;
 } 

#glass {
  text-decoration: line-through;
  border: black double;
}

#header {
  position: fixed;
  top: 0px;
}

#copylight {
   text-align: center;
}

.cop {
   display: flex;
}

#copy {
   color: rgb(0, 10, 19);
   background-color: rgb(3, 255, 116);
   border-radius: 10px;
   width: 100px;
   height: 50px;
   margin: 20px 0px 0px 10px;
   border-width: 2px;
   font-family:sans-serif;
}

button#copa {
   color: rgb(0, 10, 19);
   background-color: rgb(3, 255, 116);
   border-radius: 10px;
   width: 100px;
   height: 50px;
   margin: 0px 0px 0px 10px;
   border-width: 2px;
   font-family:sans-serif;
}

.cope {
   display: flex;
}

.sfs {
   display: none;
}

div#acs {
   margin: -20px 0px 0px 0px;
   display: flex;
}
main {
   margin-top: 200px;
}

button#up {
   position: fixed;
   margin-top: 33%;
   margin-left: 95%;
   background-color: rgb(0, 255, 13);
   width: 80px;
   height: 80px;
   border-radius: 100%;
   z-index: 2;
}

#yazi {
   position: fixed;
   margin-top: 33.6%;
   margin-left: 96%;
   z-index: 3;
}

#up:hover {
   background-color: rgb(255, 0, 0);
}

html{
   scroll-behavior: smooth;
 }
